@page "/fetchdata"
@using BlazorApp.Shared
@using BlazorApp.Client.Api 
@using common.sismo.models
@inject HttpClient Http
@inject ProjectApi projectApi 
<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (projects == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in projects)
            {
                <tr>
                    <td>@p.ProjectId</td>
                    <td>@p.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[] forecasts;
    private List<SeismicProjectModel> projects;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            var result = await projectApi.ListAsync();
            if (result.StatusCode == 200)
            {
                projects = result.Data;
            }
            //forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("/api/WeatherForecast");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}
